/*<18.05.2022-Mateusz Tuchowski */
p#pogrubienie_Tuchowski {
    color: #945ec9;
    font-size: 34px;
}
p#pochylona_Tuchowski { 
    color: #f8c265;
    font-size: 39pt;
}
p#index_gorny_Tuchowski {
    color: #a89015;
    font-size: 1.4cm;
}
p#index_dolny_Tuchowski {
    color: rgb(27%,96%,87%);
    font-size: 2.3cm;
}
p#mono_Tuchowski {
    color: #28e065;
    font-size: 44px;
}
p#powiekszenie_Tuchowski {
    color: #624097;
}
p#pomniejszenie_Tuchowski {
    color: rgb(78%,64%,20%);
}